.form-group.required .control-label:after {
    content: "*";
    color: red;
}

.checkbox {
    padding-top: 0;
    min-height: auto;
}

.checkbox label {
    padding-left: 30px;
}

.checkbox input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 0 10px 0 -30px;
}

.btn-default {
    background-color: white;
    color: black;
    border: 1px solid #e7e7e7;
    }
.btn-default:hover{
        background: #ccc;  }

.btn-search {border-radius: 50%;}